html {
    --bg-color: rgb(0, 0, 23);
    --border-color: rgba(200, 200, 255, 0.8);

    /* Card sizing */
    --card-aspect-ratio: calc(4 / 3); /* 1.5 height / width */
    --card-min-width: 300px;
    --card-max-width: 600px;
    --card-pref-width: 25vw;
    --card-min-height: calc(var(--card-min-width) * var(--card-aspect-ratio));
    --card-max-height: calc(var(--card-max-width) * var(--card-aspect-ratio));
    --card-pref-height: calc(var(--card-pref-width) * var(--card-aspect-ratio));

    --card-width: clamp(
        var(--card-min-width),
        var(--card-pref-width),
        var(--card-max-width)
    );
    --card-height: clamp(
        var(--card-min-height),
        var(--card-pref-height),
        var(--card-max-height)
    );

    /* Taken from the inspiration site */
    --transition-shape: cubic-bezier(0.16, 1, 0.3, 1);

    --text-color: aliceblue;
    --svg-color: invert(100%) sepia(81%) saturate(2134%) hue-rotate(179deg)
        brightness(111%) contrast(104%);
}

body {
    background: var(--bg-color);

    width: 100vw;
    height: 100vh;

    margin: 0px;
    padding: 0px;

    display: flex;
    align-items: center;

    color: var(--text-color);

    overflow: hidden;
}

.cards {
    display: flex;

    padding-left: 5vw;
    padding-right: 5vw;

    gap: 2vw;

    transition: transform 2s var(--transition-shape);
}

article {
    width: var(--card-width);
    height: var(--card-height);

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Add a mild gradient on top of the articles */
article > .shadow {
    content: "";

    width: var(--card-width);
    height: var(--card-height);

    position: absolute;
    top: 0px;
    left: 0px;

    background: radial-gradient(
        circle at 50% 50%,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0.75) 100%
    );
    opacity: 1;
    transition: opacity 2s var(--transition-shape);

    z-index: 1;
}

article:hover > .shadow {
    opacity: 0.7;
    transition: opacity 2s var(--transition-shape);
}

article > .border {
    content: "";

    width: var(--card-width);
    height: var(--card-height);

    position: absolute;
    top: -1px;
    left: -1px;

    border: 1px solid var(--border-color);
    opacity: 0;
    transition: opacity 2s var(--transition-shape);

    overflow: visible;

    z-index: 10;
}

article:hover > .border {
    opacity: 1;
    transition: opacity 2s var(--transition-shape);
}

article > .img-holder {
    width: var(--card-width);
    height: var(--card-height);

    position: absolute;
    top: 0px;
    left: 0px;

    overflow: hidden;

    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

article > .img-holder > img {
    width: 1600px;
    height: 900px;
    object-fit: cover;

    scale: 0.9;

    /* For parallax effect from JS */
    transform: translateX(-10%);
    transition: scale 4s var(--transition-shape),
        transform 2s var(--transition-shape);
}

article:hover > .img-holder > img {
    scale: 1;
    transition: scale 4s var(--transition-shape),
        transform 2s var(--transition-shape);
}

article > section {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0px;
    padding: 0px;

    z-index: 5;
}

article > section > .icon {
    width: 100%;
    height: 30%;

    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

article > section > .icon > img {
    width: calc(var(--card-height) / 5);
    max-width: 150px;
    height: calc(var(--card-height) / 5);
    max-height: 150px;

    filter: var(--svg-color);
    translate: 0% -25%;
    opacity: 0%;

    transition: opacity 2s var(--transition-shape),
        translate 2s var(--transition-shape);
}

article:hover > section > .icon > img {
    opacity: 100%;
    translate: 0 10%;

    transition: opacity 2s var(--transition-shape),
        translate 2s var(--transition-shape);
}

article > section > .text {
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 0px;
    left: 0px;

    display: flex;
    flex-direction: column;
    text-align: center;
}

article > section > .text > h1 {
    height: 45%;

    margin: 0px;
    margin-left: 30px;
    margin-right: 30px;

    text-align: center;
    vertical-align: middle;

    font-family: "Raleway";
    font-size: clamp(2rem, 5vh, 3rem);
    text-transform: uppercase;

    opacity: 50%;
    transition: opacity 2s var(--transition-shape);
}

article:hover > section > .text > h1 {
    opacity: 100%;
    transition: opacity 2s var(--transition-shape);
}

article > section > .text > h2 {
    margin: 0px;
    margin-left: 30px;
    margin-right: 30px;

    font-family: "Raleway", serif;
    font-size: clamp(0.8rem, 2vh, 1.5rem);

    opacity: 0;
    transition: opacity 2s var(--transition-shape);
}

article:hover > section > .text > h2 {
    opacity: 1;
    transition: opacity 2s var(--transition-shape);
}

article > section > .text > p {
    margin: 0px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;

    font-family: "Raleway", serif;
    font-size: clamp(0.9rem, 2vh, 1.5rem);

    opacity: 0;
    transition: opacity 2s var(--transition-shape);
}

article:hover > section > .text > p {
    opacity: 1;
    transition: opacity 2s var(--transition-shape);
}
